@charset "UTF-8";
@import url('@viur/ignite/ignite.css');
@import url('config.css');

body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing:antialiased;
  hyphens: auto;
  font-size: 16px;
  background-color: #fff;
}

#vite_context {
  width: 100%;
  height: 100%;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bind{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
  padding: 20px;
  margin: 20px auto;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .25);
  height: 100px;
  width: 100%;

  .bind{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.logo{
  height: 60px;
  width: 60px;
}

.menu{
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}

.menu-item{
  font-weight: 600;
}

.stage{
  width: 100%;
  height: calc(100vh - 200px);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 10px 0;
  position: relative;

  picture{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .headline{
    padding: 0 20px;
    color: #fff;
    font-size: 3em;
    background-color: #970000;
    border-radius: 3px;
    overflow: hidden;
  }

  .bind{
    align-items: start;
  }
}

.paragraph{
  max-width: 70%;
}

.footer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #970000;
  color: #fff;
}

.footer-links{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;

  a{
    color: #fff;
    text-decoration: underline;
  }
}

.headline{
  color: #970000;
  font-size: 2em;
  font-weight: 600;
}

h1.headline{
  font-size: 2.6em;
}

h2.headline{
  font-size: 2.2em;
}

h3.headline{
  font-size: 1.6em;
  color: var(--ignt-color-text-default);
}

h4.headline{
  font-size: 1.5em;
}

h5.headline{
  font-size: 1.2em;
}

.immobilie-wrap{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 30px;
}

.immobilie{
  &::part(image){
    aspect-ratio: 1;

  }

  img{
    object-fit: cover;
  }
}
