{% extends "template.html" %}

{% block content %}

    <div class="wrapper">

        <div class="stage">
            <picture>
                <img src="/static/site/images/stage.jpg">
            </picture>
            <div class="bind">
                <h1 class="headline">
                    Wir vermitteln Zuhause
                </h1>
            </div>
        </div>

        <div class="bind">
            <p class="paragraph">
                Wir sind Ihr zuverlässiger Partner für die Verwaltung von Immobilien. Ob Eigentumswohnung, Mehrfamilienhaus oder Gewerbeimmobilie – wir kümmern uns um Ihre Immobilie, als wäre es unsere eigene. Mit langjähriger Erfahrung, einem engagierten Team und modernster Technik bieten wir maßgeschneiderte Lösungen, die den Werterhalt und die Rentabilität Ihrer Immobilien sichern.
            </p>
            <p class="paragraph">
            Seit 10 Jahren sind wir als Hausverwaltung tätig. Unser Ziel ist es, Immobilienbesitzern die Sorgen und den Aufwand rund um die Verwaltung abzunehmen. Wir verstehen uns als Schnittstelle zwischen Eigentümern, Mietern und Dienstleistern. Unser erfahrenes Team bietet individuelle Betreuung, transparente Abrechnungen und schnelle Reaktionszeiten, damit Sie sich entspannt zurücklehnen können.
            </p>
        </div>

    </div>
{% endblock %}
