{% extends "template.html" %}

{% block content %}
<div class="wrapper">
    <div class="bind">
        <h1 class="headline">Kontaktieren Sie Uns</h1>
        <br>

        <p class="paragraph">
            Haben Sie eine Frage oder ein Problem? Zögern Sie nicht und
            kontaktieren Sie uns direkt über unser Kontaktformular.
            Wir werden uns so schenll wie möglich um Ihr Anliegen kümmern.
            <br>
            Unser Service-Team ist Montag bid Freitag zwischen 9 und 16 Uhr für
            Sie da.
            <br><br>
            Wir freuen uns von Ihnen zu hören.
        </p>

        <todo-add-form>
        </todo-add-form>
    </div>
</div>
{% endblock %}
