{% extends "template.html" %}

{% block content %}

    <div class="wrapper">
        <div class="bind">
            <h1 class="headline">
                Unsere Immobilien
            </h1>
            <p class="paragraph">
               Hier finden Sie eine Übersicht der Immobilien, die wir für Sie verwalten.
            </p>
        </div>

        <div class="bind">
            <div class="immobilie-wrap">
        <sl-card class="immobilie">
            <img src="/static/site/images/haus-1.png" slot="image">
            <h2 class="headline">Kanalhafen</h2>
            <p>
                Als Mieter profitieren Sie von einem direkten Zugang zu unserem Mieterportal. Hier können Sie wichtige Dokumente einsehen, Schäden melden und Fragen direkt an unser Team stellen. Wir garantieren eine schnelle Bearbeitung Ihrer Anliegen und einen transparenten Kommunikationsfluss.
            </p>
       </sl-card>
       <sl-card class="immobilie">
        <img src="/static/site/images/haus-3.png" slot="image">
           <h2 class="headline">Kohlenhafen</h2>
           <p>
               Als Mieter profitieren Sie von einem direkten Zugang zu unserem Mieterportal. Hier können Sie wichtige Dokumente einsehen, Schäden melden und Fragen direkt an unser Team stellen. Wir garantieren eine schnelle Bearbeitung Ihrer Anliegen und einen transparenten Kommunikationsfluss.
           </p>
        </sl-card>
        <sl-card class="immobilie">
        <img src="/static/site/images/haus-4.png" slot="image">
          <h2 class="headline">Petroleumhafen</h2>
          <p>
              Als Mieter profitieren Sie von einem direkten Zugang zu unserem Mieterportal. Hier können Sie wichtige Dokumente einsehen, Schäden melden und Fragen direkt an unser Team stellen. Wir garantieren eine schnelle Bearbeitung Ihrer Anliegen und einen transparenten Kommunikationsfluss.
          </p>
        </sl-card>
        <sl-card class="immobilie">
        <img src="/static/site/images/haus-2.png" slot="image">
         <h2 class="headline">Stadthafen</h2>
         <p>
             Als Mieter profitieren Sie von einem direkten Zugang zu unserem Mieterportal. Hier können Sie wichtige Dokumente einsehen, Schäden melden und Fragen direkt an unser Team stellen. Wir garantieren eine schnelle Bearbeitung Ihrer Anliegen und einen transparenten Kommunikationsfluss.
         </p>
        </sl-card>
    <sl-card class="immobilie">
    <img src="/static/site/images/haus-5.png" slot="image">
       <h2 class="headline">Südhafen</h2>
       <p>
           Als Mieter profitieren Sie von einem direkten Zugang zu unserem Mieterportal. Hier können Sie wichtige Dokumente einsehen, Schäden melden und Fragen direkt an unser Team stellen. Wir garantieren eine schnelle Bearbeitung Ihrer Anliegen und einen transparenten Kommunikationsfluss.
       </p>
    </sl-card>
</div>
  </div>

    </div>
{% endblock %}
