{% extends "template.html" %}

{% block content %}
    <div class="wrapper">
        <div class="bind">
            <h1 class="headline">
                Unsere Immobilien
            </h1>
            <p class="paragraph">
               Hier finden Sie eine Übersicht der Immobilien, die wir für Sie verwalten.
            </p>
        </div>

        <div class="bind">
            <div class="immobilie-wrap">
                {% for facility in getList("facility") %}
                    <sl-card class="immobilie">
                        <img src="{{ facility["image"]["dest"]["servingurl"] or downloadUrlFor(facility["image"]["dest"]) }}" slot="image">
                        <h2 class="headline">{{ facility["name"] }}</h2>
                        {{ facility["descr"] }}
                    </sl-card>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
