:host,
:root {
  --vi-background-color: white;

  /* Font sizes
    --ignt-font-size-3x-small: 9px;
    --ignt-font-size-2x-small: 10px;
    --ignt-font-size-x-small: 12px;
    --ignt-font-size-small: 14px;
    --ignt-font-size-medium: 16px;
    --ignt-font-size-large: 18px;
    --ignt-font-size-x-large: 20px;
    --ignt-font-size-2x-large: 22px;
    --ignt-font-size-3x-large: 24px;
    --ignt-font-size-4x-large: 26px;*/
}
